*{
    margin: 0;
    padding: 0;
}

#random{
    width: 1000px;
    height: 1000px;
}


.imgConctail{

    width:200px;
    height:500px;
    object-fit: cover;
}

.espace{

    margin-top: 10px;
}

#list{
    display: grid;
    grid-template-columns: auto auto auto;
}

